body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f0f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-weight: 300;
}

h2 {
    text-align: center;
    color: #333;
    font-weight: 300;
}

p {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
}

a {
    display: block;
    text-align: center;
    margin: 20px 0;
    color: #008cc8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #008cc8;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

td {
    border-bottom: 1px solid #e0e0e0;
    color: #555;
}

th:first-child, td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-child, td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#globalInfo, #fileSystemInfo, #directoryTree, #details {
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

#globalInfo p, #fileSystemInfo p, #directoryTree p {
    margin: 5px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
    cursor: pointer;
}

li.directory {
    font-weight: bold;
    color: #008cc8;
}

.btn {
    border: none;
    color: white;
    cursor: pointer;
    padding: 15px 40px;
    display: inline-block;
    margin: 20px 30px;
    margin-left: 80px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.3s;
    background-color: #008cc8;
}

.btn:hover {
    background-color: #0075a7;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px 0;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
}

li:last-child {
    border-bottom: none;
}

li.directory, li.file {
    position: relative;
    font-weight: bold;
    color: #008cc8;
}

ul.file-details {
    padding-left: 20px;
    font-size: 14px;
    color: #555;
    display: none;
}

ul.file-details li {
    padding: 2px 0;
    cursor: default;
}

ul.file-details li span {
    font-weight: normal;
    color: #333;
}

.detailsUl .file , .directory{
    margin-top: 20px;
}

.detailsUl .directory ul{
    list-style: none;
    color: gray;
    font-size: 12px;
}

.detailsUl .file ul{
    display: none;
}

.detailsUl li:hover{
    background-color: rgb(240, 240, 240);
}

@media (max-width: 600px) {
    table {
        width: 100%;
    }

    th, td {
        padding: 10px;
    }

    th {
        font-size: 12px;
    }

    td {
        font-size: 14px;
    }

    #globalInfo, #fileSystemInfo, #directoryTree, #details {
        width: 100%;
        padding: 10px;
    }

    #globalInfo p, #fileSystemInfo p, #directoryTree p {
        font-size: 14px;
    }
}
